#  Datatypes In Python

### 1) Numeric Types - Int, Float, Complex 

Eg:

* int- 1,2,3,4,5

* float- 111.2 ,222.3 ,444.5 ,567.6

* complex- (3+4j), (5i+6j)

# 2) Sequence types - list, tuple, range

Eg:

* list = [1,2,4,"hello", 1.23, (3+4j)]      # in the list we will change the values
* tuple = (1,2,3,"Hello")                    # in the tuple we cannot change the values
* range = range(1,20)                        # in this they gives a 1,2,3,4.....,20 numbers

### Examples of list

In [1]:
list1= [1,2,3,4,5,6,"hello"]
list1

[1, 2, 3, 4, 5, 6, 'hello']

In [2]:
# in this list we will change the 4th value 
list1[4]=10
list1

[1, 2, 3, 4, 10, 6, 'hello']

In [3]:
# in this list we will give only number 3

list1[2]

3

In [4]:
# change the hello into welcome 
list1[6]="welcome"
list1

[1, 2, 3, 4, 10, 6, 'welcome']

In [5]:
# in list we will also access the c letter from welcome

list1[6][3]      # [6] we will access the welcome [3] we will access the letter 'c'

'c'

In [6]:
# create a tuple 

tuple1= (1,2,3,4,"Hello")
tuple1

(1, 2, 3, 4, 'Hello')

In [7]:
# access the 2nd position 
tuple1[1]

2

In [13]:
# create a range between 1 to 10

range1 = range(1, 10,)    # (start, end )
print(list(range1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
range1 = range(1, 10,2)    # (start, end, step )  step me jump or skip the values
print(list(range1))

[1, 3, 5, 7, 9]

# 3)  Mapping type - dict

In [17]:
# we will create a dictonary 

A = {'name':'jay', 'Age':20}     # dictonary stores the values using (key :values) pair 
A

{'name': 'jay', 'Age': 20}

In [19]:
A['name']        # in this eg we called the key and they gives to the value

'jay'

In [21]:
A['name']='kartik'    # in this eg we change the value using key
A

{'name': 'kartik', 'Age': 20}

In [28]:
A['salary']=20000      # in this eg we will add the new (key value) in dictonary
A

{'name': 'kartik', 'Age': 20, 'salary': 20000}